.render-nav {
    background-color: var(--app-dark-blue);
    height: 70px;
    display: flex;
    align-items: center;
}

.render-nav > ul {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: 50px;
    list-style: none;
}

.render-nav > ul > li > a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--app-green);
}