* {
    margin: 0;
}

body {
    background-image: linear-gradient(to right, rgb(6, 104, 189), rgb(169, 212, 250));
    --app-light-blue: rgb(6, 104, 189);
    --app-dark-blue: rgb(21, 6, 189);
    --app-green: rgb(41, 183, 41);
}

header {
    display: flex;
    justify-content: center;
    color: var(--app-dark-blue);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

main {
}

.details-container {
    display: flex;
    justify-content: space-between;
}

details > summary {
    font-size: 2em;
}

details > ul > li {
    font-size: 1.5em;
}

details > p {
    width: 300px;
}

.download-resume {
    font-size: 1.5em;
    margin-top: 40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}

td, th {
    border: 1px solid var(--app-dark-blue);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--app-green);
}

footer {
    position: absolute;
    bottom: 0;
}