<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/about.css">
    <title>About</title>
</head>
<body>
    <nav class="render-nav"></nav>
    <header>
        <h1>About Me</h1>
    </header>
    <main>
        <div class="description-container">
            <img src="../img/UAB-LOGO-short-1040x294.jpeg" alt="UAB Logo">
            <h2>Student</h2>
            <p>
                My name is Tasheem Hargrove.
                I am currently a student
                at the University of Alabama at Birmingham.
                I am in my senior year, two semesters away from
                attaining a Bachelor's of Science in Computer Science.
            </p>
        </div>

        <div class="description-container">
            <img src="../img/Altec 11_3.jpeg" alt="Altec Logo">
            <h2>Software Developer</h2>
            <p>
                I am also work for Altec Inc. in Birmingham, Alabama.
                I began working for Altec as a Software Developer 
                Intern in May of 2022. After my internship, I accepted
                an offer to join Altec as a permanent associate.
            </p>
        </div>
    </main>

    <footer class="render-footer"></footer>
    <script src="../scripts/render-common.js"></script>
</body>
</html>