<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Contact</title>
</head>
<body>
    <nav class="render-nav"></nav>
    <header>
        <h1>Contact</h1>
    </header>

    <main>
        <h2>Contact Info</h2>
        <p>Email: <a href="mailto: thargro1@uab.edu">thargro1@uab.edu</a></p>

        <form>
            <div class="row-container">
                <label for="name">Name</label>
                <input type="text">
            </div>
            <div class="row-container">
                <label for="name">Email</label>
                <input type="text">
            </div>
            <div class="row-container">
                <label for="name">Subject</label>
                <input type="text">
            </div>
            <div class="row-container">
                <label for="name">Description</label>
                <input type="text">
            </div>
            <div class="row-container">
                <label for="name">Copy of message</label>
                <input type="checkbox">
            </div>
        </form>
    </main>

    <footer class="render-footer"></footer>
    <script src="../scripts/render-common.js"></script>
</body>
</body>
</html>