<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./resume.html">Resume</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <header>
        <h1>Tasheem Hargrove's ePortfolio</h1>
    </header>

    <main>
        <article id="library-project">
            <h2><a href="https://github.com/Tasheem/LibraryManagementSystem-client">Library Management System</a></h2>
            <img src="../img/LibraryManagement.png" alt="Library Project">
        </article>

        <article id="banking-project">
            <h2><a href="https://github.com/Tasheem/bankingapp-client-v2">Banking App</a></h2>
            <img src="../img/BankingApp.png" alt="Banking App Project">
        </article>

        <article id="bouncing-ball-project">
            <h2><a href="https://github.com/Tasheem/bouncing-ball">Bouncing Ball</a></h2>
            <img src="../img/BouncingBall.png" alt="Bouncing Ball Project">
        </article>

        <article id="umbr3lla-project">
            <h2><a href="https://github.com/Tasheem/umbr3lla-web">Umbr3lla</a></h2>
            <img src="../img/Umbr3lla.png" alt="Umbr3lla Project">
        </article>
    </main>

    <footer>
        <span>&spades; Tasheem's ePortfolio &trade; &spades;</span>
    </footer>
</body>
</html>