<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/resume.css">
    <title>Resume</title>
</head>
<body>
    <nav class="render-nav"></nav>
    <header>
        <h1>Resume</h1>
    </header>

    <main>
        <div class="details-container">
            <details>
                <summary>Skills</summary>
                <ul>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>Spring MVC</li>
                    <li>CSS</li>
                    <li>SQL</li>
                </ul>
            </details>
    
            <details>
                <summary>Experience</summary>
                <p>
                    I have worked as a Software Developer for Altec since May
                    2022. I have built full stack projects on SCRUM teams,
                    using industry-standard technologies such as Angular
                    and Java Spring.
                </p>
            </details>
    
            <details>
                <summary>Github</summary>
                <p>My github repo can be found <a href="https://github.com/Tasheem">here.</a></p>
            </details>
        </div>

        <div class="download-resume">
            <a href="../downloadable/Current Resume.pdf" download>Download Resume</a>
        </div>

        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Grade</th>
            </tr>
            <tr>
                <td>CS201</td>
                <td>Object Oriented Programming</td>
                <td>A</td>
            </tr>
            <tr>
                <td>CS303</td>
                <td>Data Structures & Algorithms</td>
                <td>A</td>
            </tr>
            <tr>
                <td>CS350</td>
                <td>Automata/Formal Languages</td>
                <td>A</td>
            </tr>
            <tr>
                <td>CS401</td>
                <td>Programming Languages</td>
                <td>A</td>
            </tr>
            <tr>
                <td>CS410</td>
                <td>Database Development</td>
                <td>B</td>
            </tr>
          </table>
    </main>

    <footer class="render-footer"></footer>
    <script src="../scripts/render-common.js"></script>
</body>
</html>